*{
    box-sizing: border-box;
}

html{
    box-sizing: border-box;
}

body{
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
}




@media only screen and (max-width: 375px){
    :root{
        --dark_grayish_magenta: hsl(303, 10%, 53%);
        --light_grayish_magenta: hsl(300, 24%, 96%);
        --white: hsl(0, 0%, 100%);
    }

    html{
        box-sizing: border-box;
    }

    body{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Spartan', sans-serif;
        font-size: 15px;
        background-image: url(/images/bg-pattern-top-mobile.svg), url(/images/bg-pattern-bottom-mobile.svg);
        background-position: top left, bottom right;
        background-repeat: no-repeat;
    }

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 86.67%;
        max-height: 89.39%;
    }

    span{
        color: hsl(333, 80%, 67%);
    }

    .main-title{
        text-align: center;
        font-weight: 700;
        color: #511f50;
    }

    .paragraph{
        text-align: center;
        font-size: 14px;
        line-height: 1.5rem;
        font-weight: 500;
        color: #511f50;
    }

    .rate{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-height: 265px;
        margin-top: 24px;
        margin-bottom: 24px;
        align-items: center;
        color: #511f50;
    }

    .stars__item{
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-top: 8px;
    }

    .rate-item-container{
        margin-top: 7.5px;
        margin-bottom: 7.5px;
        padding: 8px;
        text-align: center;
        border-radius: 10px;
        width: 100%;
        max-height: 77px;
        background-color: hsl(300, 24%, 96%);
    }

    .rate__item{
        display: flex;
        flex-direction: column;
        text-align: center;
        color: #511f50;
        font-weight: 700;
        margin-top: -6px;
    }

    .container-reviews{
        margin-top: 24px;
        max-height: 775px;
        color: hsl(0, 0%, 100%);
    }

    .reviews__items{
        display: flex;
        flex-direction: column;
        padding: 33px;
        background-color: hsl(300, 43%, 22%);
        border-radius: 10px;
        max-height: 248px;
        margin-bottom: 15px;
    }

    .reviews__items p{
        font-size: 12.5px;
        margin-top: 26px;
        line-height: 1.5rem;
    }

    .profile-info{
        display: flex;
        max-height: 40px;
        flex-wrap: wrap;
    }

    .profile-info img{
        max-height: 40px;
        border-radius: 50% 50%;
    }

    .name__reviewers{
        font-weight: 700;
    }

    .buyer-type{
        display: block;
    }

    .name-type{
        max-height: 40px;
        margin-left: 20px;
    }

    .name-type > p{
        margin: 0;
    }
}